.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 12px;
  
}

.TitleText {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 16px;

  background: linear-gradient(to bottom right, white 0%, gray 100%);
  border-radius: 12px;

}


